*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
    
    color: rgba(0, 0, 0, 0.87);

}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.info{
  background-color: darkgray;
  width: 500px;
}
.title{
  font-size: 32px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #803838;
    font-weight: 400px;
    font-weight: 900;
    padding-top: 16px;
}
.name{
  padding: 16px 29px;
  font-size: 19px;
  width: 150px;
}
.inputbox{
  padding: 8px;
  font-size: 19px;
}
.btndiv{
  display: flex;
  justify-content: center;
  margin: 12px 0px;
}
.btn{
  padding: 10px 66px;
  font-size: 19px;
  cursor: pointer;
}

.details{
  display: flex;
    margin: 32px 0px;
    justify-content: center;
}